/*  your css code here. If applicable */
.container{
	width:50%;
	border:1px solid black;
	padding:20px;
	
}
h1{
	text-align:center;
}
label{
	font-size:25px;
	margin-right:10px;
}
input{
	width:60%;
	padding:10px;
	margin-bottom:10px;	
}
::placeholder{
	font-size:25px;
}
button{
	background-color:white;
	font-size:30px;
	margin-top:10px;
	width:80%;
	border-radius:5px;
	padding-left:10px;
	padding-right:10px;
}
.message{
	text-align:center;
}
.board {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  border: 2px solid black;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.winner {
  background-color: purple;
  color: white;
}